{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Politica de privacidad
{% endblock title %}

{% block codigoDinamico %}
<div class="container">
    <section class="about-us">
        <h2>¿Quiénes somos?</h2>
        <p>En <strong>Piculichi</strong>, nos especializamos en helados artesanales de calidad excepcional, elaborados con ingredientes frescos y naturales. Cada uno de nuestros sabores es creado con dedicación, utilizando recetas tradicionales y técnicas innovadoras que nos permiten ofrecer un sabor auténtico e inconfundible.</p>

        <h2>Nuestros ingredientes</h2>
        <p>En <strong>Piculichi</strong>, creemos que el buen helado comienza con buenos ingredientes. Por eso, nos aseguramos de que cada sabor esté hecho con los ingredientes más frescos, orgánicos y de la mejor calidad. Desde las frutas locales hasta las bases cremosas y naturales, cada detalle es cuidadosamente seleccionado para brindarte una experiencia única .</p>

        <h2>¿Qué nos hace únicos?</h2>
        <p>Lo que hace especial a <strong>Piculichi</strong> es nuestro enfoque artesanal en cada etapa del proceso. No usamos aditivos ni conservantes artificiales, y nuestros helados son elaborados a mano con la misma dedicación que nos ha acompañado desde el principio. Nos enorgullece ofrecer opciones para todos los gustos, incluyendo alternativas veganas y sin gluten, sin dejar de lado los sabores clásicos que nos hacen conocidos.</p>

        <h2>Un lugar para todos</h2>
        <p>Ya sea que prefieras un helado cremoso y decadente o algo más refrescante, en <strong>Piculichi</strong> encontrarás algo para vos. Nuestra heladería es un espacio donde tanto grandes como chicos pueden disfrutar de un momento de alegría con los sabores más ricos.</p>

        <h2>Visítanos</h2>
        <p>Te invitamos a disfrutar de nuestra amplia variedad de sabores en nuestra local, ubicada en el centro de Morosn. Veni con amigos, con la familia o solo, y déjate llevar por la experiencia Piculichi. ¡Te esperamos!</p>
    </section>

</div>
{% endblock %}