¨{% extends 'App/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    login
{% endblock title %}

{% block codigoDinamico %}
<br> <br> <br>
<div class="container text center">
    <h2>Inicio de Sesion</h2>
</div>
<div class="container form-container">
    <form method="post">{% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>

        <button type="submit" class="btn btn-info">login</button>
    </form>
</div>
<br> <br> <br>
<div class="container text-center">
<p>¿ No tienes cuenta?  ¡¡Crea una aqui!!</p> <a href="{% url 'Registro' %}"> Registrarse </a>
</div>
{% endblock %}
        

